<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot  Thymeleaf </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
        <h1>tetsgfdhjshfljkdshfkds;h</h1>
</body>
</html>